body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    background: #36393f;
    background-size: cover;
    padding: 2%;
    background-image: url("../images/vibecat.gif ");
}

@keyframes bg {
    from {background-image: url("../images/elmo.jpg");}
    to {background-image: url("../images/fish.jpg");}
}

input {
    color: black;
}

*:link {
    color: black;
}

*:visited {
    color: black;
}

*:hover {
    color: black;
}

*:active {
    color: black;
}

input:link {
    color: black;
}

input:visited {
    color: black;
}

input:hover {
    color: black;
}

input:active {
    color: black;
}