@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  /* bold 500 */
  font-weight: 500;
  overflow-x: hidden;
}

.list-group-left {
  margin: 20px 10px 20px 20px;
  padding: 0;
}

.list-group-right {
  margin: 20px 20px 20px 10px;
  padding: 0;
}

.side {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  margin-right: 8px;
  border-radius: 100%;
}

.lead {
  font-weight: 400;
  font-size: 16px;
}

.navbar-brand {
  display: flex;
  align-items: center;

}

.logo-title {
  font-weight: 500;
  margin: 0 !important;
  margin-left: 4px !important;
  font-size: 18px;
}

.navbar-text {
  font-weight: 700;
}

.display-4 {
  font-weight: 500;
  font-size: 32px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.navbar {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.no-outline {
  outline: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 20px;
}

.banner {
  width: 100%;
  padding: 16px;
  padding-bottom: 8px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}

.project {
  height: 280px !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-end p {
  text-align: right;
}

.gradient {
  background: rgb(96, 55, 161);
  background: linear-gradient(90deg, rgba(96, 55, 161, 1) 0%, rgb(196, 33, 123) 100%);
}

.fade-left {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%) !important;
}

.fade-right {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%) !important;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  filter: blur(8px);
  margin: -8px -8px -8px -8px;
  transform: scale(1.2);
  user-select: none;
}

.bg-dark {
  background: rgb(24, 24, 24) !important;
}