/* Import */

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */

body {
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    font-family: 'Racing Sans One', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/kristaps-grundsteins-phv0kzqMJyk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
}

h2 {
    font-size: 18px;
    font-family: 'Racing Sans One', cursive;
}

h3 {
    font-size: 16px;
    font-family: 'Racing Sans One', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

hr {
    margin: 0.5vh;
}

button, select, input {
    border-radius: 3px;
    outline: none;
    border-width:0px;
    border:none;
    margin-bottom: 5px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: 0 0 2px 0 rgb(85,85,85);
}

label {
    color: black;
    margin: 10px;
}

/* Commonly used classes */

.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.white {
    background: white !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    width: 15%;
    height: 75px;
    position: absolute;
    margin-left: 42.5%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgb(35, 35, 35);
    border: 4px solid rgb(0, 255, 0);
}

.notification > * {
    color: black;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 9.7vh;
    background: #012326;
}

.navbar-icon-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-icon {
    width: auto !important;
    max-height: 90px !important;
}

/* Banner */

.banner {
    height: 850px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/kristaps-grundsteins-phv0kzqMJyk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction {
    margin: 1vw;
    width: 400px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}

/* Content */

.content {
    height: 850px;
    width: 100%;
    background: #012326;
    display: flex;
}

.split-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-image {
    width: 95%;
    height: 96%;
    margin: 10%;
    object-fit: cover;
}

.inner-ad {
    width: 95%;
    height: 43%;
    margin: 5%;
    object-fit: cover;
    margin-bottom: 0;
}

.inner-map {
    width: 95%;
    height: 53%;
    margin: 5%;
    object-fit: cover;
    margin-top: 0;
    border: none !important;
}

.content-banner {
    margin: 1vw;
    width: 60vw;
    text-align: center;
}

.content-introduction {
    margin: 1vw;
    width: 650px;
    text-align: center;
    vertical-align: middle;
}

/* Videot */

.videot {
    display: flex;
    width: 98.1vw;
    height: 60vh;
    background: #012840;
    margin: 0.5vw;
    margin-bottom: 0;
}

.video-banner {
    margin: 1vw;
    width: 40vw;
    text-align: center;
}

.video-introduction {
    margin: 1vw;
    width: 650px;
    text-align: center;
    vertical-align: middle;
}

.vaihto {
    width: 65%;
    height: 100%;
    border: 0;
}

/* Renkaat */

.renkaat {
    width: 98.1vw;
    height: 120vh;
    background: #012840;
    margin: 0.5vw;
}

.options {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.5%;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    border-radius: 3px;
    outline: none;
    border-width:0px;
    border:none;
    margin-bottom: 5px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/* Footer */

.footer {
    width: 100%;
    height: 12.45vh;
    background: #023059;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Tilaus */

.order {
    height: 77.9vh;
    width: 70%;
    margin-left: 15%;
    display: flex;
}

.order-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.order-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(235,235,235);
}

.order-details {
    display: flex;
    padding-left: 45px;
}

.order-left > * {
    margin-left: 45px;
    color: black;
}

.order-left > .order-details {
    margin-left: 0;
}

.order-left > h1 {
    padding-top: 15px;
}

.order-left > a > button {
    width: 122.5px;
    height: auto;
    margin-top: 5px;
}

.order-form > input, .order-form > hr, .order-form > select {
    width: 150%;
}

.order-form > button {
    width: 75%;
    margin-top: 25px;
    outline: none
}

.order-img {
    width: 90%;
    height: 90%;
    margin: 5%;
    object-fit: cover;
    margin-bottom: 0;
}

/* Links */

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray;
}

a:active {
    color: white;
}

*:active, *:hover {
    outline: none !important;
}

/* Responsiivisuus */