@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    color: white;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75vw;
    text-shadow: 0px 0px 2px #555;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

#header {
    display: flex;
    justify-content: center;
}

@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  #header > a {
    color: #fffbf1;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 5%;
    text-shadow: none;
  }
  
  #header > a:before,
  #header > a:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  #header > a:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  #header > a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  }

input {
    border-radius: 3px;
    outline: none !important;
    border-width:0;
    border: none !important;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    font-family: 'Open Sans', sans-serif !important;
}

textarea {
  border-radius: 3px;
  outline: none;
  border-width:0;
  border:none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif !important;
}

code {
    filter: brightness(150%);
    text-shadow: 0 0 1px rgba(77,77,77,0.5);
}

table, tr, td {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

table {
  width: 25%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}