@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgba(35,35,35,1);
    box-sizing: border-box;
}

.list * {
    margin: 0;
    margin-right: 10px;
}

nav {
    width: 96%;
    min-height: 4vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul a,nav li,nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding: 0 0 0 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: underline white 2px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99vw;
}

h1 {
    width: 100%;
    text-align: center;
}
  
form label {
    font-weight: bold;
}
  
form input {
    border: none;
    border-radius: 6px;
    height: 4vh;
    width: 17.5%;
    font-weight: bold;
    background: white;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 10px;
    padding-right: 10px;
}

form select {
    border: none;
    border-radius: 6px;
    height: 4vh;
    width: 18.5%;
    font-weight: bold;
    background: white;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 10px;
    padding-right: 10px;
}

form input[type=submit] {
    width: 15%;
}

.edit {
    position: relative;
    float: right;
    border: none;
    height: 25px;
    width: 20%;
    padding-top: 6px;
    border-radius: 4px;
    font-size: 1.4vh;
    background: rgba(255,55,55,1);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.edit:hover {
    text-decoration: underline white 2px;
}

.delete {
    position: relative;
    float: right;
    border: none;
    height: 25px;
    width: 20%;
    padding-top: 6px;
    border-radius: 4px;
    font-size: 1.4vh;
    background: rgba(255,55,55,1);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.delete:hover {
    text-decoration: underline white 2px;
}

.ad {
    box-sizing: border-box;
    width: 100%;
    height: 94.5vh;
    background:white;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

a, a:hover, a:active, a:visited { color: white; text-decoration: none; }

a:hover {
    color: white;
    text-decoration: underline white 2px;
}

.ad img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    position: relative;
    overflow: hidden;
    transition: background 0.4s;
}

button:focus {
    outline:0;
}

button:hover {
    background: rgb(110, 24, 24);
    transition: background 0.4s;
}
  
.userframe {
    box-sizing: border-box;
    width: 100%;
    height:154px;
    background:white;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

.sportframe {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background:white;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

.entryframe {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background:white;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

.entryframe * {
    margin-bottom: 4px;
}

.sportframe * {
    margin-bottom: 4px;
}

.userframe * {
    margin-bottom: 4px;
}

.list {
    margin-left: 7px;
    width: 98vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

@media screen and (max-width: 1025px) {
    .list {
        display: block;
    }

    .ad {
        display: none;
    }

    #adtext {
        display: none;
    }

    .label {
        margin-top: 3%;
    }

    .entries div {
        width: 97%;
        overflow-y: hidden;
    }

    .sports div {
        width: 97%;
        overflow-y: hidden;
    }

    .players div {
        width: 97%;
        overflow-y: hidden;
    }

    form input {
        width: 80%;
        margin-right: 15px;
    }
    
    form input[type=submit] {
        width: 70%;
    }

    * {
        overflow-x: hidden;
    }
}